<h1>読書記録編集</h1>

<%= render 'form', reading: @reading %>

<div class="mt-3">
  <%= link_to "詳細を見る", @reading, class: "btn btn-info" %>
  <%= link_to "一覧に戻る", readings_path, class: "btn btn-secondary" %>
</div>