<div class="container edit-page">
  <div class="header">
    <h1>読書記録編集</h1>
    <div class="header-actions">
      <%= link_to "詳細を見る", @reading, class: "btn btn-outline-info" %>
      <%= link_to "一覧に戻る", readings_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="book-form">
    <%= render 'form', reading: @reading %>
  </div>
</div>