<p><%= @email %> で新規アカウント登録の試みがありました。</p>

<p>ご自身で登録を試みた場合は、既にアカウントが存在しているため、以下のリンクからログインしてご利用ください。</p>

<p><%= link_to 'ログインページへ', new_user_session_url %></p>

<p>心当たりがない場合は、誰かがあなたのメールアドレスを誤って入力した可能性があります。<br>
念のため、パスワードの変更をお勧めします。</p>

<p style="color: #666; font-size: 12px; margin-top: 20px;">
  ※このメールに心当たりがない場合は、お手数ですが削除してください。
</p>
