<!DOCTYPE html>
<html>
  <head>
    <title>GraduationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Stimulus Autocomplete -->
    <script type="module">
      import Autocomplete from 'https://cdn.skypack.dev/stimulus-autocomplete';
      import { Application } from 'https://cdn.skypack.dev/@hotwired/stimulus';

      const application = Application.start();
      application.register('autocomplete', Autocomplete);
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
